#Pandas

In [1]:
import numpy as np
import pandas as pd

In [2]:
dict = {
    'Name':['Akash', 'Aman', 'Jatin', 'Agam Deep'],
    'LName':['Chauhan', 'Satyawali', 'Jain', 'Singh'],
    'State':['UP', 'UK', 'Punjab', 'Punjab']
}
type(dict)

dict

In [3]:
dict1={
"Name":["Akash","Aman","Jatin","AgamDeep"],
"LName":["Chauhan","Satyawali","Jain","Singh"],
"State":["UP","UK","Punjab","Punjab"]
}
type(dict1)

dict

In [4]:
df=pd.DataFrame(dict)
df
df1=pd.DataFrame(dict)
df1

        Name      LName   State
0      Akash    Chauhan      UP
1       Aman  Satyawali      UK
2      Jatin       Jain  Punjab
3  Agam Deep      Singh  Punjab

In [5]:
df.to_csv("data_with_index.csv")
df.to_csv("data_without_index.csv",index=False)

In [6]:
dft=df.T
dft

             0          1       2          3
Name     Akash       Aman   Jatin  Agam Deep
LName  Chauhan  Satyawali    Jain      Singh
State       UP         UK  Punjab     Punjab

In [7]:
df

        Name      LName   State
0      Akash    Chauhan      UP
1       Aman  Satyawali      UK
2      Jatin       Jain  Punjab
3  Agam Deep      Singh  Punjab

In [8]:
df.describe()

         Name    LName   State
count       4        4       4
unique      4        4       3
top     Akash  Chauhan  Punjab
freq        1        1       2

In [9]:
df.count()

Name     4
LName    4
State    4
dtype: int64

In [10]:
df.head(2)

    Name      LName State
0  Akash    Chauhan    UP
1   Aman  Satyawali    UK

In [11]:
df.tail(2)

        Name  LName   State
2      Jatin   Jain  Punjab
3  Agam Deep  Singh  Punjab

In [12]:
df['Name'][3]

'Agam Deep'

In [13]:
df.index=list('abcd')
df

        Name      LName   State
a      Akash    Chauhan      UP
b       Aman  Satyawali      UK
c      Jatin       Jain  Punjab
d  Agam Deep      Singh  Punjab

In [14]:
df.columns=['Name','Lname','State']
df

        Name      Lname   State
a      Akash    Chauhan      UP
b       Aman  Satyawali      UK
c      Jatin       Jain  Punjab
d  Agam Deep      Singh  Punjab

In [15]:
df.loc['b':'c','Lname':'State']

       Lname   State
b  Satyawali      UK
c       Jain  Punjab

In [16]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [17]:
df.columns

Index(['Name', 'Lname', 'State'], dtype='object')

In [18]:
df1.sort_index(axis=0,ascending=False)
df1

        Name      LName   State
0      Akash    Chauhan      UP
1       Aman  Satyawali      UK
2      Jatin       Jain  Punjab
3  Agam Deep      Singh  Punjab

In [22]:
df2 = df1[:]

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, a to d
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Lname   4 non-null      object
 2   State   4 non-null      object
dtypes: object(3)
memory usage: 300.0+ bytes

In [32]:
df

              Name      Lname   State
a            Akash    Chauhan      UP
b             Aman  Satyawali      UK
c            Jatin       Jain  Punjab
d        Agam Deep      Singh  Punjab
Country      India      India   India

In [42]:
df.loc[:,'Country'] = 'India'
df.loc['Country'] = 'NaN'
df

              Name      Lname   State Country
a            Akash    Chauhan      UP   India
b             Aman  Satyawali      UK   India
c            Jatin       Jain  Punjab   India
d        Agam Deep      Singh  Punjab   India
Country        NaN        NaN     NaN     NaN

In [43]:
df.drop('Country', axis=0, inplace=True)
df

        Name      Lname   State Country
a      Akash    Chauhan      UP   India
b       Aman  Satyawali      UK   India
c      Jatin       Jain  Punjab   India
d  Agam Deep      Singh  Punjab   India

In [44]:
df.drop_duplicates()
df

        Name      Lname   State Country
a      Akash    Chauhan      UP   India
b       Aman  Satyawali      UK   India
c      Jatin       Jain  Punjab   India
d  Agam Deep      Singh  Punjab   India

In [49]:
df.loc['Country'] = 'NaN'
df.loc['Code'] = 'NaN'
df

TypeError: cannot do slice indexing on Index with these indexers [1] of type int

In [ ]:
df.dropna(how='all')